<div id="home" class="background-picture">
  <div class="background-overlay">
    <div layout="row" layout-align="center center" style="height: 80vh; width: 98vw">
      <div class="content">
        <h2>Welcome to lunchPal!</h2>
        <div class="btn-wrapper">
          <button mat-raised-button class="btn" (click)="findLunchPal()">
            Find a lunchPal
          </button>
          <button mat-raised-button class="btn" (click)="openCalendar()">
            My calendar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
